<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<style>
button {
    background-color: rgb(3, 150, 135);
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 3px;
    font-family:'Roboto';
}
</style>
</head>
<body style="background-color: #ddead3;">
</br>
<center>
	<h2 style="color:#039687;font-family:'Roboto';">Start your journey on Road Trip Planner!</h2>
	<p style="color:#039687;font-family:'Roboto';">
	Hello, fellow traveler!
	</br>
	{{ sender }} has invited you on a trip "{{trip_title}}" on Road Trip Planner.
	</br>
	To accept the invitation and register for an account with this email address, please click 
	<button><a href = "http://3.128.24.220/tripplanner/register" style="text-decoration: none;color:white;">here</a></button> 
	</br>
</p>
<img src="https://i.pinimg.com/originals/5e/fb/4b/5efb4b1d02e2d92a6e80d7b240d52a57.png" style="width:100px;height:100px;"/></center>
</br>
</body>
</html>

