{% extends "base_map.html" %}


{% block user-info %}
{% load static %}
    <script src="{% static 'maps.js' %}" type="text/javascript"></script>
<div> Hi, {{request.user.first_name}}!
    <button><a href="{% url '' %}" style="color:white;text-decoration:none;">home</a></button>
    <button><a href="{% url 'friends' %}" style="color:white;text-decoration:none;">find friends</a></button>
    <button><a href="{% url 'profile' request.user.id %}" style="color:white;text-decoration:none;">my profile</a></button>
    <button><a href="{% url 'logout'%}" style="color:white;text-decoration:none;">logout</a></button>
</div>
{% endblock %}



        
        {% block wizard %}
        
            <div class="validation-error">
                {% for error in form.non_field_errors %}
                <p class="errorlist">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        
            <form method="POST" action="{% url 'create' %}">
                {% csrf_token %}
		
                <div class="save-button-wrp">
                    <button> Save Changes</button>
                </div>
        <div class="planner-wrp">
		
            <div class="planner">
                <table class="planner-table">
                    {% for field in form.visible_fields %}
                    <tr>
                        <td>{{field.label_tag}} {{field}}
                            {% if field.auto_id == 'id_starting_from' %}
                                <button type="button" onClick='searchLoc("id_starting_from")'>Add to Map</button> 
                            {% endif %}
                            {% if field.auto_id == 'id_ending_at' %}
                                <button type="button" onClick='searchLoc("id_ending_at")'>Add to Map</button> 
                            {% endif %}
			    {% if field.auto_id == 'id_start_date' %}
				</br><span style="color:#eb6a83;"><b>{{warning}}</b></span>
			    {% endif %} 
                        </td>
                        <td class="error">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
		

                </table>
                    <script>
                        var inputs = ['id_starting_from', 'id_ending_at']
                    </script>
            </div>
            <div id="map">
                    
            </div>
            </div>
            
        </div>
    </form> 
        
                
        {% endblock %}
           
    


    
